{% load static %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
</head>

<body>
<h3 id ="headline">Mechanic On Board</h3>
{% if latest_DTC_list %}
<table id = "tab">
	<tr>
		<th id = "table_headers">Dtc code</th>
		<th id = "table_headers">Dtc description</th>
		<th id = "table_headers">Dtc timestamp</th>
		<th id = "table_headers">Mil status</th>
		<th id = "table_headers">test passed</th>
		<th id = "table_headers">Vehicle tag</th>
	</tr>
	
	{% for DTC in latest_DTC_list %}
		<tr>
			<td><a href="/polls/{{ DTC.id }}/"></a>{{ DTC.Dtc_code }}</td>
			<td><a href="/polls/{{ DTC.id }}/"></a>{{ DTC.Dtc_description }}</td>
			<td><a href="/polls/{{ DTC.id }}/"></a>{{ DTC.Dtc_timestamp }}</td>
			<td><a href="/polls/{{ DTC.id }}/"></a>{{ DTC.Mil_status }}</td>
			<td id = "p"><a href="/polls/{{ DTC.id }}/"></a>{{ DTC.test_passed }}</td>
			<td><a href="/polls/{{ DTC.id }}/"></a>{{ DTC.Vehicle_tag }}</td>
		</tr>	
	{% endfor %}
</table>   
{% else %}
    <p>No DTC details are available.</p>
{% endif %}
</body>
</html>
